<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.devstories.anipointcompany.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>



    <application
        android:name=".base.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.IntroActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.OnlyCalActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name=".activities.UserListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.MessageDetailActivity"
            android:screenOrientation="landscape"
            android:theme="@style/NoTitleDialog"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".activities.DlgEditMemberInfoActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgCouponListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"/>
        <activity
            android:name=".activities.DlgTestMsgActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgEditPerActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"/>
        <activity
            android:name=".activities.DlgAddManageActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgSignActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgReserveSaveActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgReserveResultActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgReserveSave2Activity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".activities.DlgMemberShipActivity"
            android:screenOrientation="landscape"
            android:theme="@style/full_screen_dialog1"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

    </application>

</manifest>